@font-face {

   font-family: Mifuente;
   src: url(../Fonts/Merriweather-Light.ttf);


}

h1 {

   display: block;
   font-family: Mifuente;
   letter-spacing: 2px;
   color: rgb(241, 219, 90);
   font-size: 80px;
   margin-left: 50px;
   margin-top: 27.9%;
   font-weight: 100;
   margin-bottom: 0px;

}

.texto1 {

   color: floralwhite;
   font-size: 22px;
   margin-top: 2px;
   margin-left: 58px;
   margin-bottom: 50px;


}



span {

   color: cornsilk;

}

#click {

   font-family: Mifuente;
   font-weight: lighter;
   color: rgb(255, 255, 255);
   background-color: rgb(103, 168, 65);
   border-radius: 20px;
   padding: 13px;
   text-decoration: none;
   margin-left: 280px;
   font-size: 20px;
   padding-left: 16px;
   padding-right: 16px;


}

#click:hover{

   background-color: rgb(134, 201, 57);
   color: cornsilk;

}

#click:active{

   background-color: rgb(137, 187, 50);

}

body {

   background: url(../media/fondo1.png);
   background-size: 100%;
   

}


.by{

 font-size: 14px;
 margin-top: 10px;
 text-align: right;

}

.intro{

  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 8px;
  filter: sepia(20%)saturate(70%) grayscale(1) contrast(99%) invert(12%);
  

}

/*Nombre*/
 form{

color: rgb(241, 219, 90);
font-family: Mifuente;
font-weight: 900;
padding-top: 30px;
padding-left: 5px;
padding-right: 5px;
font-size: 24px;

 }

 #nombre{

color: rgb(255, 255, 255);
font-weight: 900;
text-align: center;
font-family: Mifuente;
font-size: 20px;
margin-top: 25px;
background-color: rgba(255, 255, 255, 0.267);
border: none;
border-radius: 10px;
padding-top: 8px;
padding-bottom: 8px;


 }

#enviar{

margin-top: 25px;
font-size: 18px;
font-family: Mifuente;
font-weight: 900;
border-radius: 17px;
border-color: rgb(255, 255, 255);
border-style: none;
padding: 8px;
padding-right: 15px;
padding-left: 15px;
background-color: rgba(241, 218, 90, 0.74);
color: rgb(255, 255, 255);
cursor: pointer;

}

#enviar:hover{

   background-color: rgba(103, 189, 156, 0.692);
   color: rgb(255, 255, 255);
   cursor: pointer;

}

#enviar:active{

   background-color: rgba(241, 218, 90, 0.74);

}

 
#div_nombre{

   border-radius: 20px;
   height: 220px;
   max-width:400px;
   position: relative;
   top: 350px;
   right: 10%;
   left: 35%;
   transform: translate(-50%,-50%);
   background: rgba(84, 143, 107, 0.719);
   text-align: center;


}




/* Diseño de la página 3 (Menu - Studio Ghibli)*/


#boton_1{

   margin-top: 25px;
   font-size: 20px;
   font-family: Mifuente;
   font-weight: 900;
   border-radius: 17px;
   border-color: rgb(255, 255, 255);
   border-style: none;
   padding: 10px;
   padding-right: 17px;
   padding-left: 17px;
   background-color: rgba(241, 218, 90, 0.74);
   color: rgb(255, 255, 255);
   cursor: pointer;
   text-decoration: none;


}

#boton_1:hover{

    background-color: rgba(126, 221, 197, 0.644);

}

#boton_1:active{

   background-color: rgba(241, 218, 90, 0.74) ;

}

#pag2{

  background: url(../media/fondo2.jpg);
  background-size: 100%;
  margin: 0;

}

ul {
   z-index: 2;
   display: flex;
   align-items: stretch;
   position: fixed;
   top: 0;
   width: 100%;
   font-family: Mifuente;
   font-size: 20px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgba(60, 182, 152, 0.863);
  
  
}


li {
   
   float: left;
   border-right: 2px solid rgba(116, 252, 199, 0.425);
   padding-left: 30px;
   padding-right: 30px;
}

li:hover{

   
   background-color: rgba(45, 211, 161, 0.808);
   transition: 1s;
   

}

li a {

   padding-left: 30px;
   padding-right: 30px;
   height: 100%;
   display: block;
   color: white;
   text-align: center;
   padding: 14px;
   text-decoration: none;
   padding-top: 20px;
   padding-bottom: 0;
   
}

li a:hover{

   color: white;

}



#studiog{

padding-right: 30px;
padding-left: 30px;
color: rgb(241, 219, 90);
padding-top: 10px;
padding-bottom: 8px;

 }

 #menu{

   background-color: rgba(31, 160, 121, 0.767);

 }

 #contenido_api{

display: grid;
text-align: center;



 }

 .info{

 display: grid;  
 



 }

 .Box{
   
   display: grid;
   background-size: cover;
   background-repeat: no-repeat;
  

 }

 .Inner_Box{

padding-left: 0px;
padding-right: 0;
border-radius: 25px;
height: 450px;
max-width:900px;
position: relative;
display: flex;
top: 350px;
right: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: rgba(21, 22, 22, 0.644);
text-align: center;

 }


 h3{

color: rgb(243, 224, 114);
margin-top: 0;
padding: 35px;   
font-family: Mifuente;
text-align: justify;
font-size: 20px;
line-height: 30px;
 }

 #bienvenida_span{

color: rgb(243, 224, 114);


 }






 /* Diseño de la página 4 (Studio Ghibli)*/




 h4{

  height: 0.1rem; 
  padding-top: 45px;
  padding-bottom: 0;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Mifuente;
  font-size: 30px;
  color: rgb(243, 224, 114) ;
  font-weight: 900;
  

 }

 h5{

   
   width: 450px;
   padding-top: 0;
   padding-bottom: 0;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 50px;
   height: 10px;
   font-family: Mifuente;
   font-size: 22px;
   color: rgb(255, 255, 255);
   font-weight: 900;
   

 }

 h6{

   width: 100%;
   font-family: Mifuente;
   font-size: 17px;
   padding: 0;
   margin-left: 37px;
   margin-top: 0;
   margin-bottom: 0;
   color: rgb(243, 224, 114);
   font-weight: 900;
   text-align: justify;
   

 }


 p{
 
   color: rgba(104, 230, 192, 0.767);
   font-weight: 900;
   font-size: 15px;
   font-family: Mifuente;
   padding-top: 35px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
   background-color: rgba(24, 32, 32, 0.877);
   border-radius: 19px;
   margin: 6px;
   margin-left: 3px;
   cursor: pointer;
   
   
   
 }

 p:hover{

   color: white;
   background-color: rgba(104, 230, 192, 0.801);
 }

.container{
   
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   width: 900px;
   margin: 0 auto ;
   color: #e9d83e;
   
   
   

 
}

.container-details{
   
   
   
   display: block;
   
 

}

.container-details p{

background: none;



}

img{

display: grid;
position: absolute;
width: 28%;
margin-left: 67%;
margin-top: 35px;
margin-bottom: 0;
border-radius: 15px;



}




/* Página de la playlist*/

.playlist{


border-radius: 15px;
margin-top: 95px;
margin-left: 47px;
position: absolute;


}

.play1{

margin-top: 20px;
margin-left: 35px;
font-size: 50px;
font-weight: 400;

}

.play{

   
   margin-top: 60px ;
   position: absolute;
   font-weight: 600;

}



/*Comentarios*/


.Comments{

align-content: center;

}

.fb-comments{

   border-radius: 15px;
   margin-top: 170px;
   background-color: rgba(255, 255, 255, 0.856);
   
}



/* Fondo negro transparente - Comentarios*/

 .Comments_Box{

   
   border-radius: 25px;
   max-width:900px;
   background: rgba(21, 22, 22, 0.644);
   text-align: center;
   

 }